@media (max-width: 1290px) {
  .i-box img {
    width: 340px;
  }
  .i-box p {
    line-height: 65px;
  }
  .i-box a {
    line-height: 30px;
  }
  .info img {
    width: 590px;
  }
  .info-2 img {
    width: 590px;
  }
  .customer img {
    width: 530px;
  }
  .cus-box img {
    width: 35px;
  }
}
@media (max-width: 1250px) {
  text {
    width: 485px;
  }
  .i-box img {
    width: 330px;
  }
  .i-box p {
    line-height: 60px;
  }
  .i-box a {
    line-height: 25px;
  }
  .info img {
    width: 580px;
  }
  .info-2 img {
    width: 580px;
  }
  .customer img {
    width: 520px;
  }
  .cus-box img {
    width: 35px;
  }
  .m-box {
    width: 310px;
    gap: 10px;
  }
  .m-box-2 {
    width: 310px;
  }
}
@media (max-width: 1230px) {
  .info img {
    width: 575px;
  }
  .i-box img {
    width: 325px;
  }
  .i-box p {
    line-height: 55px;
  }
  .i-box a {
    line-height: 22px;
  }
  .info img {
    width: 570px;
  }
  .info-2 img {
    width: 570px;
  }
  .customer img {
    width: 510px;
  }
  .cus-box img {
    width: 35px;
  }
}

@media (max-width: 1215px) {
  text {
    width: 480px;
  }
  .info img {
    width: 565px;
  }
  .customer img {
    width: 500px;
  }
  .cus-box img {
    width: 35px;
  }
}
@media (max-width: 1205px) {
  text {
    width: 470px;
  }
  .info img {
    width: 550px;
  }
  .customer img {
    width: 490px;
  }
  .cus-box img {
    width: 35px;
  }
  .i-box img {
    width: 320px;
  }
  .i-box p {
    line-height: 55px;
  }
  .i-box a {
    line-height: 22px;
    font-size: 21px;
  }
  .m-box {
    width: 300px;
    gap: 10px;
  }
  .m-box-2 {
    width: 300px;
  }
  .l-box {
    width: 290px;
  }
}

@media (max-width: 1190px) {
  text {
    width: 460px;
  }
  .i-box img {
    width: 315px;
  }
  .info img {
    width: 535px;
  }
  .customer img {
    width: 480px;
  }
  .cus-box img {
    width: 35px;
  }
}

@media (max-width: 1175px) {
  text {
    width: 455px;
  }
  .i-box img {
    width: 310px;
  }
  .info-2 img {
    width: 530px;
  }
  .info img {
    width: 520px;
  }
  .customer img {
    width: 470px;
  }
  .cus-box img {
    width: 35px;
  }
  nav {
    gap: 32px;
  }
  .m-box {
    width: 290px;
    gap: 10px;
  }
  .m-box-2 {
    width: 290px;
  }
  .l-box {
    width: 285px;
  }
}

@media (max-width: 1160px) {
  .i-box img {
    width: 305px;
  }
  text {
    width: 445px;
  }
  .customer img {
    width: 460px;
  }
  .cus-box img {
    width: 35px;
  }
  .info-2 img {
    width: 520px;
  }
  .info img {
    width: 510px;
  }
  .collaborative img {
    width: 530px;
  }
}
@media (max-width: 1145px) {
  .collaborative img {
    width: 520px;
  }
  .customer img {
    width: 450px;
  }
  .cus-box img {
    width: 35px;
  }
  .info-2 img {
    width: 510px;
  }
  .info img {
    width: 500px;
  }
  .m-box {
    width: 285px;
    gap: 10px;
  }
  .m-box-2 {
    width: 285px;
  }
  .l-box {
    width: 280px;
  }
  .blog img {
    width: 405px;
  }
}

@media (max-width: 1130px) {
  .i-box img {
    width: 300px;
  }
  .info-2 img {
    width: 500px;
  }
  .info img {
    width: 490px;
  }
  .customer img {
    width: 440px;
  }
  .cus-box img {
    width: 35px;
  }
  .collaborative img {
    width: 510px;
  }
  .customer-text {
    width: 480px;
  }
}
@media (max-width: 1115px) {
  .i-box img {
    width: 295px;
  }
  .info-2 img {
    width: 490px;
  }
  .info img {
    width: 480px;
  }
  .collaborative img {
    width: 500px;
  }
  .customer-text {
    width: 470px;
  }
  .customer img {
    width: 430px;
  }
  .cus-box img {
    width: 35px;
  }
  .collaborative img {
    width: 500px;
  }
  .m-box {
    width: 280px;
    gap: 10px;
  }
  .m-box-2 {
    width: 280px;
  }
  .l-box p {
    font-size: 15.5px;
  }
  .l-box {
    width: 275px;
    height: 220px;
  }
  nav {
    gap: 30px;
  }
}
@media (max-width: 1100px) {
  .customer img {
    width: 420px;
  }
  .cus-box img {
    width: 35px;
  }
  .i-box img {
    width: 290px;
  }
  .customer-text {
    width: 460px;
  }
  .i-box a {
    font-size: 20px;
  }
  .m-box {
    width: 275px;
    gap: 10px;
  }
  .collaborative img {
    width: 490px;
  }
  .m-box-2 {
    width: 275px;
  }
  .info-2 img {
    width: 480px;
  }
  .info img {
    width: 470px;
  }
  .m-t img {
    width: 305px;
  }
  .blog img {
    width: 395px;
  }
  .box {
    width: 205px;
  }
  h1 {
    font-size: 23px;
  }
  .Reverse-text p {
    font-size: 15px;
  }
  nav {
    gap: 29px;
  }
  .btn-2 {
    font-size: 15.5px;
  }
  nav button {
    font-size: 15.5px;
  }
}

@media (max-width: 1080px) {
  nav {
    display: none;
  }
  .burger-menu {
    display: flex;
    cursor: pointer;
  }
  .info img {
    width: 460px;
  }
  .info-2 img {
    width: 470px;
  }
  .customer-text {
    width: 450px;
  }
  .i-box img {
    width: 285px;
  }
  .i-box a {
    font-size: 19.5px;
  }
  .i-box p {
    line-height: 50px;
  }
  .m-box {
    width: 270px;
  }
  .collaborative img {
    width: 470px;
  }
  .m-box-2 {
    width: 270px;
  }
  .l-box {
    width: 270px;
    height: 220px;
  }
  .blog {
    width: 840px;
  }
}

@media (max-width: 1055px) {
  .i-box img {
    width: 280px;
  }
  .info img {
    width: 440px;
  }
  .customer-text {
    width: 440px;
  }
  .collaborative img {
    width: 460px;
  }
  .m-box {
    width: 265px;
  }
  .m-box-2 {
    width: 265px;
  }
  .l-box {
    width: 265px;
    height: 220px;
  }
  .l-box p {
    width: 230px;
  }
  .blog img {
    width: 390px;
  }
  .blog-text h1 {
    font-size: 26px;
  }
  .blog {
    width: 830px;
  }
}
@media (max-width: 1030px) {
  .info img {
    width: 430px;
  }
  .info-2 img {
    width: 460px;
  }
  .customer img {
    width: 410px;
  }
  .cus-box img {
    width: 35px;
  }
  .customer-text {
    width: 430px;
  }
  .i-box img {
    width: 275px;
  }
  .i-box p {
    line-height: 45px;
  }
  .m-box {
    width: 260px;
  }
  .m-box-2 {
    width: 260px;
  }
  .l-box {
    width: 260px;
  }
  .l-box p {
    width: 230px;
  }
  .blog {
    width: 820px;
  }
}

@media (max-width: 1020px) {
  .info img {
    width: 420px;
  }
  .info-2 img {
    width: 450px;
  }
  .customer img {
    width: 400px;
  }
  .cus-box img {
    width: 35px;
  }
  .collaborative img {
    width: 450px;
  }
}
@media (max-width: 1000px) {
  .info img {
    width: 410px;
  }
  .info-2 img {
    width: 440px;
  }
  .customer img {
    width: 390px;
  }
  .cus-box img {
    width: 35px;
  }
  .collaborative img {
    width: 440px;
  }
  .i-box img {
    width: 270px;
  }
  .m-box {
    width: 255px;
  }
  .m-box-2 {
    width: 255px;
  }
  .l-box {
    width: 255px;
  }
}
